* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/*Scrollbar*/
div::-webkit-scrollbar {
  max-width: 10px;
}
/*Track*/
div::-webkit-scrollbar-track {
  border-radius: 10px;
}
/*Handle*/
div::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, #F6EBFF,#AAA8AE,#F6EBFF);
  border-radius: 30px;
}

#infoBackg {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
#info_popup {
  position: absolute;
  display: none;
  left: 49%;
  top: 14%;
  width: 45%;
  height: 70%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.info_paragr {
  position: absolute;
  max-width: 90%;
  height: 90%;
  margin: 5%;
  overflow: visible;
  justify-items: center;
  overflow-y: scroll;
}

#popup_title {
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: bold;
  font-size: 1.3vw;
  color: rgba(7, 7, 7, 1);
}
#interactive_installation {
  padding-top: 1%;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  color: rgba(7, 7, 7, 1);
}
#interactive_installation p {
  padding: 2%;
  font-size: 1.2vw;
}
#artist {
  padding-top: 2%;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  color: rgba(7, 7, 7, 1);
}
#artist #name{
  padding-left: 3%;
  font-weight: bold;
}
#artist img{
  float: left; 
  margin-right: 2%; 
  padding-top: 2%;
  width: 30%;
}

#artist #paragr{
  padding-top: 1%;    
  font-size: 1.2vw;
  padding-bottom: 5%;
}
#artist a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

#artist a:link {
  /*link style*/
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
#Hoartistmepage a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
#artist a:hover { 
  color: #f07338;
}