* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#groupBackg {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.groupPopup {  
  top: 10%;
  position: absolute;
  overflow: visible;
  width: 367px;
  text-align: center;
  font-family: "Titillium Web";
  font-style: normal; 
  font-size: 18px;    
}
.group_tittle {
  font-weight: bold;
  padding-top: 5%;  
}

.groupPopup .paragraph{
  font-weight: normal;
  justify-items: center;
  text-align: left;
  padding: 5% 8%;
  
}



/*__________VIOLET___________*/
#violetPopup {
  display: none;
  position: absolute;
  overflow: visible;
  width: 78%;
  height: 78%;
  left: 15%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
/*__________ORANGE___________*/
#orangePopup {
  display: none;
  position: absolute;
  overflow: visible;
  width: 78%;
  height: 78%;
  left: 15%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
/*________RED_____________*/
#redPopup {
  display: none;
  position: absolute;
  overflow: visible;
  width: 78%;
  height: 78%;
  left: 15%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
/*__________GREEN_______________*/
#greenPopup {
  display: none;
  position: absolute;
  overflow: visible;
  width: 78%;
  height: 78%;
  left: 15%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}


