* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#augmented_realityBackg{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
#augmented_reality {
  display: none;
  position: absolute;
  overflow: visible;
  width: 73%;
  height: 85%;
  left: 25%;
  top: 12%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#ar_title {
  left: 25%;
  top: 7%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  color: rgba(7, 7, 7, 1);
}
/*CLOSE BUTTON*/
#popup_x {
  position: relative;
  margin: auto;
  left: 46%;
  top: 5%;
  width: 2%;
  height: 5%;
  cursor: pointer;
}

.popup_left {
  /*left side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: rgba(7, 7, 7, 1);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.popup_right {
  /*right side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: rgba(7, 7, 7, 1);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

#popup_x:hover .popup_left {
  transform: rotate(-45deg);
  background-color: #f07338;
}
#popup_x:hover .popup_right {
  transform: rotate(45deg);
  background-color: #f07338;
}
