* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#level_2_projects {
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 11, 11, 1);
  overflow: hidden;
}

#CAPTURE_THE_FUTURES_OUR_BIO-TE {
  left: 25%;
  top: 30px;
  position: absolute;
  overflow: visible;
  width: 233px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: rgba(248, 246, 246, 1);
}

.circle {
  background-color: rgba(240, 115, 56, 1);
  position: absolute;
  border: 1px solid #ff8868;
  box-shadow: 0 0 10px #ffa297;
  width: 5%;
  height: 10%;  
  left: 50%;  
  top: 50%;
  overflow: visible;
  cursor: pointer;
  border-radius: 50%;
  animation: glowUp 4s ease-in 0s infinite;
}
@keyframes glowUp {
  from {
    box-shadow: 0 0 10px #ffa297;
  }
  50% {
    box-shadow: 0 0 48px #ff8868;
  }
  80% {
    box-shadow: 0 0 29px #f07338;
  }
  90% {
    box-shadow: 0 0 19px #f07338;
  }
  to {
    box-shadow: 0 0 10px #f07338;
  }
}

#ENTER {
  left: 15%;
  top: 30%;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 1);
}

/*

EXTRA INFORMATION BUTTONS
*/
#info_menu_btns {
  position: absolute;
  width: 14%;
  height: 19%;
  left: 4%;
  top: 10%;
  overflow: visible;
}

#info_menu_btns li {
  width: 13vw;
  list-style-type: none;
  color: white;
  padding: 2% 0;
  font-size: 1.1vw;
  font-family: "Titillium Web";
  cursor: pointer;
  border-bottom: 1px solid white;
}


/*GO BACK BUTTON*/
#x {
  position: relative;
  margin: auto;
  left: 46%;
  top: 25px;
  width: 1.5%;
  height: 4%;
  cursor: pointer;
}

.left {
  /*left side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.right {
  /*right side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

#x:hover .left {
  transform: rotate(-45deg);
  background-color: #f07338;
}
#x:hover .right {
  transform: rotate(45deg);
  background-color: #f07338;
}


@media screen and (min-width: 320px) and (max-width: 500px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}