
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#level_0 {
  -webkit-user-select: none;
  display: none;  /*  <-- none*/
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: black; 
  overflow: hidden; 
}

#trailer{
  position: absolute;
  z-index: 1000; 
  min-width: 100%;
  height: 53vw;    
}


#playTrailer {
  margin-top: 26%;
  margin-left: 49vw;
  position: absolute;
  overflow: visible;  
  text-align: center;
  font-family: 'Titillium Web';  
  font-size: 1.5vw;
  font-weight: 500;
  color: white; 
  text-shadow: 0 0 5px #fff, 0 0 10px #a09ea1, 0 0 15px #a09ea1, 0 0 20px #a09ea1;
  z-index: 10000;
  cursor: pointer;
}


#skipTrailer {
  margin-top: 45%;
  margin-left: 95%;
  position: absolute;
  overflow: visible;  
  text-align: center;
  font-family: 'Titillium Web';  
  font-size: 1.5vw;
  font-weight: 500;
  color: white; 
  text-shadow: 0 0 5px #fff, 0 0 10px #a09ea1, 0 0 15px #a09ea1, 0 0 20px #a09ea1;
  z-index: 10000;
  cursor: pointer;
}


