* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#explore {
  position: absolute;
  left: 50%;
  margin-top: 29%;
  overflow: visible;
  cursor: pointer;
}
#explore img {
  width: 5vw;
}

#popup_captureBackg {
  top: 0;
  position: absolute;
  width: 100%;
  height: 50vw;
  overflow: hidden;
  display: none;
}

#popup_capture {
  -webkit-user-select: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 15%;
  height: 8vw;  
  left: 54%;
  margin-top: 23%;
  border-radius: 10% / 20%;
  overflow: visible;
  cursor: pointer;  
}
.p_captureInside{
  position: absolute;
  width: 84%;
  height: 7vw;
  margin: 5% 8%;  
  padding: 1%;
  border: 2px solid cyan;
}

#Capture_the_Futures_OUR_BIO-TE {   
  position: absolute;
  overflow: visible;  
  margin-left: 2%;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  line-height: 130%;
  font-weight: bold;
  font-size: 1.1vw;
  color: blue; /*rgba(12, 11, 11, 1)*/
}
#exhibition {
  margin-left: 2%;
  bottom: 0%;
  position: absolute;
  overflow: visible;
  width: 66px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: rgba(12, 11, 11, 1);
}

